.hero {
  text-align: center;
  &__container {
    flex-direction: column-reverse;
    align-items: center;
    @include tablet-landscape-up {
      flex-direction: unset;
    }
  }
  &__img {
    img {
      width: 100%;
    }
  }
  &__content {
    h1 {
      font-size: rem(22);
    }
    //     order: 2;
  }
  .links {
    // display: flex;
  }
  .btn:first-of-type {
    margin-right: 16px;
  }
}
